.header {
  color: gold;
  text-align: center; 
}

.body {
    background-color: purple;
}

.smhdr {
    color:silver;
    text-align: center;
}

#startBtn {
    width: 20%;
    height: 150px;
    
}

#start {

    color: magenta;
    font-size: xx-large;
}

.stat {
    background-color: mediumaquamarine;
    font-size: x-large;
}